<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TestShopStripe</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <ul class="menu-bar">
    <li class="menu-element cart">
      <img src="imgs/cart.svg" alt="cart icon" class="menu-cart-icon">
    </li>
  </ul>
</header>
<main>
  <div class="goods-list"></div>
</main>
</body>
<script src="script.js"></script>
</html>
