body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #d7d7d7, #f1f1f1);
    min-height:720px;
}

.menu-bar{
    margin: 0;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu-element.cart{
    color: #444444;
}

.menu-cart-button{
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    font-family: sans-serif;
    color: inherit;
    background-color: inherit;
}

.menu-cart-icon{
    height: 1.33rem;
}


.menu-element.cart:hover,
.menu-element.cart:active{
    color: black;
}

main {
    margin: 0;
    padding: 0;
}

.goods-list{
    margin: 3rem;
    /*width: 100%;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
}

.goods-item{
    width: 300px;
    background-color: #d3d3d3;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #606060;
    overflow: hidden;
}

.goods-item img{
    margin: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
}